@font-face {
    font-family: Atari;
    src: url(AtariFontFullVersion-ZJ23.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}
body, html {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    gap:5vh;
}

h1 {
    text-align:center;
    font-size: 5vmin;
    font-family: Atari, monospace, Courier;
    position: relative;
}


p.subtitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, monospace;
    font-size: 3vmin;
    font-weight: 600;
}

.setting-icon {
    width: 5vmin;
    position: absolute;
    top:1vmin;
    right:1vmin;
    cursor: pointer;
}
.settings-modal {
    display:none;
}