/* -webkit- version for all necessary elements (transition and more) */
/* Fix zoom and only blur increasing */
@font-face {
    font-family: Atari;
    src: url(AtariFontFullVersion-ZJ23.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}
body, html {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    overflow: none;
    gap:5vh;
    color: var(--color1);
}

/* Settings page */
h1 {
    text-align:center;
    font-size: 5vmin;
    font-family: Atari, monospace, Courier;
    position: relative;
}
h2 {
    font-size: 3.5vmin;
}

p.subtitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, monospace;
    font-size: 3vmin;
    font-weight: 600;
    color: var(--color2);
    padding: 1vmin  ;
    border: 0.5vmin double;
}
p.subtitle:hover {
    transition: background 0.3s ease-out;
    background-color: var(--color3);
    cursor: pointer;
}

/* Settings */
.setting-icon {
    width: 5vmin;
    position: absolute;
    top:1vmin;
    right:1vmin;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 1s ease-in-out;
}
.setting-icon:hover {
    transition: transform 1s ease-in-out;
    /* Deg has to be x60[60-360] */
    transform: rotate(180deg);
}
/* (X/<-) In the top left/right of modal or tap settings to exit */
.settings-modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: var(--settingsBaseWidth);
    height: 70%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    box-shadow: 0 0 0.2vmax 0 var(--color1);
}

/* Make a class for input[type=range] */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    /* moves only in increment of 100% width / 10 (width of box)  */
    outline: 0.1vw solid var(--color2);
}
input[type=range]:hover {
    /* More bold outline (0.2vw)? */
    outline: 0.1vw solid var(--color1);
    cursor: pointer;
}
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: calc((var(--settingsBaseWidth) * 0.8) / 10);
    height: calc((var(--settingsBaseWidth) * 0.8) / 10);
    background: var(--color1);
    cursor: pointer;
}

.volume {
    width: calc(var(--settingsBaseWidth) * 0.8);
}